.confirmEmail__container {
  padding: 15px 30px 15px;
  margin: 20px auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  max-width: 600px;
  color: #646464;
  background: #fff;
  position: relative;
}

.confirmEmail__header {
  margin: 20px 0;
  font-weight: normal;
}

.confirmEmail__footer {
  color: #9e9e9e;
  font-size: 14px;
  text-align: center;
}

.confirmEmail__btnContainer a {
  border: 2px solid #00a7f4;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  margin: 20px auto;
  padding: 10px 0 10px 0;
  text-align: center;
  text-decoration: none;
  background-color: #00a7f4;
  width: 100%;
}

.confirmEmail__btnContainer a:hover {
  background-color: #00a7f4;
  color: #fff;
  cursor: pointer;
}

.confirmEmail__btnContainer a:visited  {
  color: #00a7f4;
}
