.feedback-container {
  width      : 100%;
  color      : #646464;
  font-family: 'Open Sans', sans-serif;
  font-size  : 125%;
  overflow   : hidden;
  font-weight: 300;
  margin    : 0 auto;
  max-width : 600px;
  background: #fff;
  position  : relative;
}

.feedback-heading {
  margin     : 20px 0;
  text-align : center;
  font-weight: normal;
}
