<link rel="stylesheet" href="payment_receipt.css">
<main>
  <div class="paymentReceipt__container">
    <h2 class="paymentReceipt__header">Maqpie received your payment.</h2>
    <p>Thank you for your business! You can find your latest payment receipt in the attachment.</p>

    <div class="paymentReceipt__footer">
      <p>Questions? Login into <a href="https://maqpie.com/login">your account</a> and contact us.</p>
    </div>
  </div>
</main>
