<div>
    <p>Hi there,</p>
    <p>Below you can see users, who is not added their time to harvest for {{date}}:</p>
</div>

<table>
    <tr>
        <th>
            User
        </th>
        <th>Hours</th>
        <th>Notes count</th>
    </tr>
    <tr></tr>
</table>
