.stats__container {
  padding: 15px 30px 15px;
  margin: 20px auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  max-width: 600px;
  color: #646464;
  background: #fff;
  position: relative;
  text-align: center;
}

.stats-logo {
  background-size: contain;
  background-repeat: no-repeat;
  width: 320px;
  height: 100px;
  margin: 20px auto 0;
}

.stats-heading {
  font-weight: normal;
  margin-bottom: 0;
}

.stats-date {
  font-weight: normal;
  display: inline-block;
  margin-top: 5px;
  border-bottom: dotted 1px #00a7f4;
}

.stats-paragraph {
  font-size: 17px;
  line-height: 24px;
  margin: 0 0 16px;
}

.stats-statistics {
  width: 100%;
}

.stats-row {
  margin: 36px auto;
}

.stats-statistics-block {
  display: inline-block;
  width: 270px;
  border: solid 1px #f5f5f5;
  border-radius: 3px;
  margin: 0 10px;
}

.stats-wrapper-value {
  display: inline-block;
  line-height: 1em;
  width: 50%;
  height: 100%;
}

.stats-value-amount {
  display: inline-block;
  font-size: 1.8rem;
  vertical-align: middle;
  font-weight: 600;
  line-height: 2em;
  width: 100%;
}

.grow-up {
  color: #34a853;
}

.grow-down {
  color: #f00
}

.stats-wrapper-title {
  display: inline-block;
  line-height: 1em;
  width: 50%;
  height: 100%;
}

.arrow-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid #34a853;
  margin-right: 5px;
}

.arrow-down {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #f00;
  margin-right: 5px;
}

.arrow-right {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid green;
  margin-right: 5px;
}

.arrow-left {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right:9px solid blue;
  margin-right: 5px;
}

.stats-value-proc {
  display: block;
  font-size: 14px;
  text-align: center;
  font-weight: lighter;
  margin: 0 auto;
}

.stats-statistics-title {
  display: block;
  text-align: center;
  font-size: 17px;
}
