<link rel="stylesheet" href="email_signup.css">
<main>
  <div class="confirmEmail__container">
    <h2 class="confirmEmail__header">One last step...</h2>
    <p>
      Confirm your email address to complete your Maqpie account. </br>
      It's easy — just click the button below.
    </p>
    <p class="confirmEmail__btnContainer">
      <a href="{{verifyLink}}" target="_blank">Confirm now</a>
    </p>
    <p class="confirmEmail__footer">
      If you didn't sign up for an account, please ignore this email.
    </p>
  </div>
</main>
