* {
  margin : 0;
  padding: 0;
}

body,
html {
  height          : 100%;
  font-size: 14px;
  background-color: #ededed;
}

main {
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 2.5rem 2.5rem 0;
  background-color: #1da1f2;

  &__title {
    margin-bottom: 7px;
  }

  &__charge-title {
    margin-bottom: 7px;
    font-size    : 16px;
  }

  &__wrap {
    margin-top: 20px;
    font-size: 14px;
  }

  &__company-name {
    font-weight: bold;
  }

  &__company {
    float        : left;
    font-size    : 16px;
    margin-bottom: 10px;
  }

  &__left-text {
    width: 25%;
    float: left;
  }

  &__right-text {
    float: left;
  }

  &__logo {
    margin: 0.5rem 0 2rem;
    height          : 68px;
    width           : 198px;
    background-size : contain;
    background-image: url('./images/maqpie-logo.svg');
  }

  &__company-container {
    overflow       : hidden;
    justify-content: space-between;
    text-align     : left;
    padding        : 1.1rem 2.5rem 1.3rem;
    color: white;

    & li {
      padding: 10px 0;
    }
  }

  &__list {
    padding   : 2.2rem 2.5rem;
    list-style: none;
    overflow  : hidden;
    background: #ededed;

    & li {
      display: inline-block;
      width  : 25%;
    }

    & li:not(:last-child) {
      float: left;
    }

    & li:last-child {
      float: right;
    }
  }

  &__item-title {
    line-height: 1.6rem;
    color: #b2b2b2;
  }

  &__item-result {
    font-size  : 1.1rem;
    line-height: 1.4rem;
    color: #646464;
  }
}

.main {
  position: relative;
  background   : #ededed;
  padding      : 0 2.5rem;

  &__page {
    min-height: 690px;
    background-color: white;
  }

  &__title {
    padding    : 2.8rem 2.5rem 2rem;
    color: #646464;
    font-size  : 1.1rem;
  }

  &__items-list {
    list-style: none;

    li {
      padding: 0 2.5rem;
      font-size: 1.1rem;
      line-height: 3.5rem;
    }

    & .list {
      &__title {
        color: #b2b2b2;
        border-bottom: 1px solid #ddd;

        p {
          display: inline-block;

          &:first-child {
            width: 75%;
          }

          &:last-child {
            width: 24%;
          }
        }
      }

      &__content {
        color: #646464;
        border-bottom: 1px solid #ddd;

        p {
          display: inline-block;

          &:first-child {
            width: 75%;
          }

          &:last-child {
            width: 24%;
          }
        }
      }
    }
  }

  &__total {
    padding: 2.5rem;

    .total {
      &__title {
        margin-left: 75.5%;
        font-size: 1.1rem;
        color: #646464;
      }

      &__number {
        margin-left: 75.5%;
        color: #1da1f2;
        line-height: 3.5rem;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }

  &__paid {
    position: absolute;
    height: 150px;
    width: 250px;
    left: 40px;
    bottom: 20px;
    background: url("./images/paid.svg");
    background-repeat: no-repeat;
  }
}
