<div>
    <p>Hi {{clientFirstName}},</p>
</div>

<p>We are always looking for a different ways to improve our services. Starting from the next week we'll be sending time reports every week on Monday. Please, let me know if you have any feedback or questions.
</p>

<p>In the attachment you can find reports for the first two weeks of September. Feel free to let me know if you found some mistakes. They will be corrected immediately!
</p>

<p>You can always refer to this <a href="{{urlToDashboard}}">simple dashboard</a> for all your invoices and recent payments.</p>

<p>Thank you for working with us!</p>
<p>
   Best regards,
   </br>
   --
   </br>
   Artem Kozlovsky,
   </br>
   CFO, Paralect
</p>
