h1 {
    font-size: 20px;
}

body {
    font-family: Helvetica, 'Helvetica neue', Arial, Verdana, sans-serif;
    color: #707070;
    font-size: 16px;
}

a {
    color: #0d709a;
}

a:hover {
    text-decoration: none;
}

small {
    font-size: 14px;
}
