<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{title}}</title>

</head>

<body>

<div class="layout__container">
  <div>
    <div class="layout_logo-container">
			<a class="layout__logo-link" href="https://maqpie.com" target="_blank">
        <img style="outline: none; text-decoration: none; border: none;" width="120" src="{{emailLogo}}"/>
      </a>
		</div>
    {{{@body}}}
  </div>
  <footer class="layout__footer">
    <div class="layout__footer-social">
      <p class="layout__footer-links">
        <a href="https://blog.maqpie.com/" class="layout__footer-link" target="_blank">Blog</a>&nbsp;&nbsp;
        <a href="https://twitter.com/maqpie" class="layout__footer-link" target="_blank">Twitter</a>&nbsp;&nbsp;
        <a href="https://www.linkedin.com/company-beta/18080793" class="layout__footer-link" target="_blank">LinkedIn</a>&nbsp;&nbsp;
        <a href="https://www.facebook.com/maqpiee" class="layout__footer-link" target="_blank">Facebook</a>&nbsp;&nbsp;
      </p>
    </div>
    <div class="layout__footer-copyrights">
      © {{year}} Maqpie
    </div>
  </footer>
</div>

</body>
</html>
