<link rel="stylesheet" href="email_invitation.css">
<main>
  <div class="inviteEmail__container">
    <h2 class="inviteEmail__header">{{user.firstName}} {{user.lastName}} has invited you to Maqpie.</h2>
    <div class="inviteEmail__btnContainer">
      <a href="{{inviteLink}}" target="_blank">Accept this invite »</a>
    </div>
    <div class="inviteEmail__details">
      <h3 class="inviteEmail__details-title">What is Maqpie?</h3>
      <p>
        Maqpie is a user to user messenger for SaaS, which eliminates the pain of building your own messaging solution
        and can be integrated in less than 10 minutes. Learn about features in our <a href="https://blog.maqpie.com/2017/04/06/most-valuable-maqpie-features-overview/" target="_blank">blog post</a>.
      </p>
    </div>
  </div>
</main>
